/**********************
 *BASE
 **********************/
* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: url('../img/cat-on-amp.jpg') no-repeat fixed;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
    color: #696562;
}
.main {
    background-color: rgba(255,255,255,.8);
}
h1 {
    color: #d88888;
}
p {
    font-size: 1em;
    line-height: 1.6em;
}
a {
    color: #d88888;
    text-decoration: none;
}
img {
    max-width: 100%;
}

/**********************
 *LAYOUT
 **********************/
.main-container {
    padding: 2em;
}
.wrapper {
    max-width: 960em;
    margin: 0 auto;
    padding: 5em;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
[class*='flex-item'] {
    margin-bottom: 2em;
}

/**********************
 *MODULES
 **********************/
.modal {
    background-color: rgba(216, 136, 136, .9);
    padding: 2em;
    color: #ffffff;
}
.clicks {
    text-align: center;
}
.clicks__count {
    font-size: 5em;
    margin: 0;
}
.clicks__label {
    text-transform: uppercase;
    margin-bottom: 0;
}
.cat {
    position: relative;
}
.catname {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
aside {
    background-color: rgba(255, 255, 255, .9);
    padding: 1em;
}

/**********************
 *STATE
 **********************/
a:hover {
    text-decoration: underline;
}

/**********************
 *MEDIA QUERIES
 **********************/
@media screen and (min-width: 768px) {
    [class*='flex-item']:last-child {
        margin-left: 2em;
    }
    .flex-item--1-2 {
        width: calc(50% - 1em);
    }
    .flex-item--1-3 {
        width: calc(33.33% - 1em);
    }
    .flex-item--2-3 {
        width: calc(66.67% - 1em);
    }
}
@media screen and (min-width: 960px) {
}
